<div class="animal-box col-lg-11" *ngIf="animal">
    <div id="animal-head-card" class="col-lg-4 pull-left">
      <img src="{{url + 'get-image-animal/' +animal.image}}" style="width:300px"/>
    </div>
    <div class="animal-data col-lg-7 pull-left">
      <h1>{{animal.name}}</h1>
      <p>{{animal.year}}</p>
      <p>{{animal.description}}</p>
      <p>{{animal.origen.country}}, {{animal.origen.state}}</p>
      <h1><a [routerLink]="['/edit-animal', animal._id]">Editar Animal</a></h1> 
      <button class="btn btn-danger" (click)="deleteAnimal()">Eliminar</button>     
    </div>
</div>